body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
}

.logo-container{
   padding: 8px;
     
}

.container{
    margin-top: 40px;
}

.navbar .navbar-brand{
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0px 3px 20px rgba(89, 89, 89, 0.6);
    border-radius: 10px;
    padding-right: 5%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

.columna1{
    background-color: rgb(240, 233, 233); 
    border-radius: 10px;
    margin-right: 5px;
    display: flex;              
    align-items: center;       
    justify-content: center;    
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 3px 20px rgba(253, 252, 252, 0.6);
    
}

.columna1 img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(28, 28, 28, 0.3);
    
}

.columna1 p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
 
}

.columna2{

    background-color: rgb(240, 233, 233); 
    border-radius: 10px;
    margin-left: 5px;
    display: flex;              
    align-items: flex-start;       
    justify-content: center;    
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 3px 20px rgba(253, 252, 252, 0.6);
}

.columna2 img{
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(28, 28, 28, 0.3);

}